body {
    font-family: Arial, sans-serif;
    background-color: #496D8C;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    padding-top: 100px; 
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    margin: 10px 0 5px;
    display: block;
    color: #090909;
}

input[type="password"] {
    width: 90%; 
    padding: 10px 10px 10px 40px; 
    margin: 5px 0 10px;
    border: 1px solid #496D8C;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px; 
    box-sizing: border-box; 
}

input[type="password"]:focus {
    border-color: #024873;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #024873;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #01395e;
}

.form-group {
    margin-bottom: 15px;
}

.icon-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.icon-left img {
    width: 80px;
    height: 80px;
}

.icon-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon-right img {
    width: 60px;
}


input#new_password {
    background-image: url("../img/password.png"); 
}

input#confirm_password {
    background-image: url("../img/password.png");
}
