a<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Frontend/src/styles/styleslogin.css" />

</head>
<body>
    <div class="container">
        <div class="icon-left">
            <img src="/Frontend/src/img/Logo.png" alt="Icono Izquierda" class="small-icon">
        </div>
        <div class="icon-right">
            <img src="/Frontend/src/img/exit.png" alt="Icono Derecha" class="large-icon">
        </div>

        <div class="login-box">
            <h2>Login</h2>
            <form>
   
                <div class="input-group">
                    <span class="icon">
                        <img src="/Frontend/src/img/User.png" alt="Username Icon">
                    </span>
                    <input type="text" placeholder="Username" required>
                </div>

         
                <div class="input-group">
                    <span class="icon">
                        <img src="/Frontend/src/img/password.png" alt="Password Icon">
                    </span>
                    <input type="password" placeholder="Password" required>
                </div>

                <button type="submit" class="login-btn">LOGIN</button>

                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
