<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/Frontend/src/styles/david.css"/>
  </head>

  <body>
    <header>
      <img src="/Frontend/assets/img/Logo.png" id="logo" alt="">
      <section id="right_header">
        <button class="button_profile">Admin</button>
        <img src="/Frontend/assets/img/icon_person.png" id="icon_person" alt="">
      </section>
    </header>

    <section id="welcome">
      <h1>Welcome admin</h1>
      <img src="/Frontend/assets/img/admin.png" id="welcome_img" alt="">
    </section>

    <main id="main_admin">
      <section id="features_admin">
        <article>
          <p class="features_p">Course</p>
          <img src="/Frontend/assets/img/course.png" class="feature_img" alt="">
        </article>
        <article>
          <p class="features_p">Qualifications</p>
          <img src="/Frontend/assets/img/qualification.png" class="feature_img" alt="">
        </article>
        <article>
          <p class="features_p">Attendance record</p>
          <img src="/Frontend/assets/img/attendance.png" class="feature_img" alt="">
        </article>

      </section>
      <section id="main_2">
       <img src="/Frontend/assets/img/admin2.png" id="admin2" alt="">
      </section>
    </main>

    <footer>
      <section>
        <h3>Contact us</h3>
        <address>43, Av. Carabobo #42, Medellin, Antoquia</address>
        <p>Phone: (604) 444 76 54</p>
        <p>Whatsapp: (57) 3001234567</p>
      </section>
      <section>
        <h3>About us</h3>
        <ul id="about_us">
          <li>Home</li>
          <li>Mission</li>
          <li>Vision</li>
        </ul>
      </section>
      <section id="follow_us">
        <h3 >Follow us</h3>
        <br>
        <a href="https://www.facebook.com/"><img src="/Frontend/assets/img/facebook.png" alt="Facebook" class="social_media"></a>
        <a href="https://www.instagram.com/"><img src="/Frontend/assets/img/instagram.png" alt="Instagram" class="social_media"></a>
        <a href="https://www.twitter.com/"><img src="/Frontend/assets/img/x.png" alt="Twitter" class="social_media"></a>
      </section>
    </footer>
    <script src="/Frontend/src/js/admin.js"></script>
  </body>
</html>
