/* Estilo del formulario en chart-2 */
#chart-2 .managecourse-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto; /* Centra el formulario */
    padding: 2rem;
    border: 2px solid #003366;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para etiquetas */
#chart-2 .managecourse-form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* Estilo para campos de texto */
#chart-2 .managecourse-form input {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para botones */
.admin-button {
    background-color: #003366;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.admin-button:hover {
    background-color: #002244;
}

#course-material-table {
    width: 100%; 
    border-collapse: collapse;
}

#course-material-table th {
    background-color: #003366FF; 
    color: white; 
    padding: 10px; 
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: center;
}

.student-table th, 
.student-table td {
    padding: 12px;
    border: 1px solid #040101;
}

.student-table th {
    background-color: #003366FF;
    color: #ddd;
}


