<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/img/Logo.png">
    <link rel="stylesheet" href="../../assets/styles/teacher.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Teacher Home</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <img src="../../assets/img/Logo.png" alt="" class="logo">
            <div class="flex-container">
                <button class="button">Teacher</button>
                <img src="../../assets/img/icon_person.png" alt="" class="icon_person">
            </div>
        </header>
        <aside class="aside">
            <p>Welcome Teacher</p>
            <img src="../../assets/img/teachers.png" alt="" class="img-aside">
        </aside>
        <main class="main">
            <div class="grid-container1">
                <div class="grid-item1 card card-family">
                    <p>Download Schedule</p>
                    <img src="../../assets/img/clock.png" alt="" class="item">
                </div>
                <div class="grid-item2 card card-family">
                    <p>Record Qualifications</p>
                    <img src="../../assets/img/qualification.png" alt="" class="item">
                </div>
                <div class="grid-item3 card card-family">
                    <p>Manage Course</p>
                    <img src="../../assets/img/course.png" alt="" class="item">
                </div>
                <div class="grid-item4 card card-family">
                    <p>Attendance Registration</p>
                    <img src="../../assets/img/attendance.png" alt="" class="item">
                </div>
                <div class="grid-item5 card1 card-family">
                    <p>Calendar</p>
                    <img src="../../assets/img/calendar1.png" alt="" class="item">
                </div>
                <img src="../../assets/img/books.png" alt=""  class="grid-item6">
            </div>
        </main>
        <footer class="footer">
            <div>
                <h3>Contact Us</h3>
                <p>Site</p>
                <p>Number 1</p>
                <p>Number 2</p>
            </div>
            <div>
                <h3>About Us</h3>
                <p>Home</p>
                <p>Mission</p>
                <p>Vision</p>
            </div>
            <div class="social">
                <h3>Our Social Networks</h3>
                <div class="icons">
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-youtube' ></i>
                    <i class='bx bxl-instagram-alt' ></i>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>