<body class="grid-container">
    <header class="header">
        <a href="/" (click)="reload()">
            <img src="../../img/Logo.png" alt="" class="logo">
        </a>
        <div class="flex-container">
            <button class="button" (click)="logOut()">log out</button>
            <img src="../../img/iconperson.png" alt="" class="icon-person">
        </div>
    </header>

    <aside class="aside">
        <p class="title">Welcome Student</p>
        <img src="../../img/student.png" alt="" class="img-aside">
    </aside>

    <nav class="nav">
        <section class="list">
            <p><b>
                    <a href="#chart-0" class="feature">Start</a>
                    |
                    <a href="#chart-1" class="feature">Class Material</a>
                    |
                    <a href="#chart-2" class="feature">Qualifications</a>
                    |
                    <a href="#chart-3" class="feature">Schedule</a>
                    |
                    <a href="#chart-4" class="feature" (click)="getCourses()">Enrollment</a>
                </b></p>
        </section>
    </nav>

    <main class="main">
        <section class="first-chart" id="chart-0">
            <i class='bx bxs-hand-up'></i>
            <h3>What do you want to do?</h3>
        </section>
        <section class="chart" id="chart-1">
            <h3>Class Material</h3>
            <div class="div-chart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Material ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Course ID</th>
                            <th>Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Introduction to Programming</td>
                            <td><a href="resource1.pdf">Lecture Notes</a></td>
                            <td>10</td>
                            <td>Math</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Variables and Data Types</td>
                            <td><a href="resource2.pdf">Lecture Notes</a></td>
                            <td>20</td>
                            <td>Science</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Control Structures</td>
                            <td><a href="resource3.pdf">Lecture Notes</a></td>
                            <td>30</td>
                            <td>Physics</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="chart" id="chart-2">
            <h3>Qualifications</h3>
            <div class="div-chart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Course Name</th>
                            <th>Assignment</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>Programming 101</td>
                            <td>Assignment 1</td>
                            <td>5.0</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Programming 101</td>
                            <td>Assignment 2</td>
                            <td>4.0</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>Programming 101</td>
                            <td>Midterm Exam</td>
                            <td>3.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="chart" id="chart-3">
            <h3>Schedule</h3>
            <div class="div-chart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Course ID</th>
                            <th>Course Name</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                            <td>09:00</td>
                            <td>10:30</td>
                            <td>10</td>
                            <td>Programming 101</td>
                            <td>Room 101</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>11:00</td>
                            <td>12:30</td>
                            <td>20</td>
                            <td>Data Structures</td>
                            <td>Room 202</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>14:00</td>
                            <td>15:30</td>
                            <td>30</td>
                            <td>Algorithms</td>
                            <td>Room 303</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="chart" id="chart-4">
            @if (option !== '1') {
            <h3>Enrollment</h3>
            <table class="student-table">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Semester</th>
                        <th>Teacher</th>
                        <th>Day</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Room</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of courses; track item.courseId; let i = $index) {
                    <tr>
                        <td [rowSpan]="item.CourseSchedules.length">{{item.Assignment.name}}</td>
                        <td [rowSpan]="item.CourseSchedules.length">{{item.Assignment.semester}}</td>
                        <td [rowSpan]="item.CourseSchedules.length">{{item.Teacher.Person.firstName + " " +
                            item.Teacher.Person.lastName1 + " " +
                            item.Teacher.Person.lastName2}}</td>
                        <td>{{item.CourseSchedules[0].day}}</td>
                        <td>{{item.CourseSchedules[0].startTime}}</td>
                        <td>{{item.CourseSchedules[0].endTime}}</td>
                        <td>{{item.CourseSchedules[0].room}}</td>
                        <td [rowSpan]="item.CourseSchedules.length">
                            <button type="button" class="student-button" (click)="addCourse(item.courseId)">add
                                course</button>
                        </td>

                    </tr>
                    @if (item.CourseSchedules[1]) {
                    <tr>
                        <td>{{item.CourseSchedules[1].day}}</td>
                        <td>{{item.CourseSchedules[1].startTime}}</td>
                        <td>{{item.CourseSchedules[1].endTime}}</td>
                        <td>{{item.CourseSchedules[1].room}}</td>
                    </tr>
                    }
                    @if (item.CourseSchedules[2]) {
                    <tr>
                        <td>{{item.CourseSchedules[2].day}}</td>
                        <td>{{item.CourseSchedules[2].startTime}}</td>
                        <td>{{item.CourseSchedules[2].endTime}}</td>
                        <td>{{item.CourseSchedules[2].room}}</td>
                    </tr>
                    }

                    }
                </tbody>
            </table>
            <button type="button" class="student-button" (click)="summary()">Summary</button>
            }
            @if (option === '1') {
            <h3>Enrollment Summary</h3>
            <table class="student-table">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Semester</th>
                        <th>Teacher</th>
                        <th>Day</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Room</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of selectedCourses; track item.courseId; let i = $index) {
                    <tr>
                        <td [rowSpan]="item.CourseSchedules.length">{{item.Assignment.name}}</td>
                        <td [rowSpan]="item.CourseSchedules.length">{{item.Assignment.semester}}</td>
                        <td [rowSpan]="item.CourseSchedules.length">{{item.Teacher.Person.firstName + " " +
                            item.Teacher.Person.lastName1 + " " +
                            item.Teacher.Person.lastName2}}</td>
                        <td>{{item.CourseSchedules[0].day}}</td>
                        <td>{{item.CourseSchedules[0].startTime}}</td>
                        <td>{{item.CourseSchedules[0].endTime}}</td>
                        <td>{{item.CourseSchedules[0].room}}</td>

                    </tr>
                    @if (item.CourseSchedules[1]) {
                    <tr>
                        <td>{{item.CourseSchedules[1].day}}</td>
                        <td>{{item.CourseSchedules[1].startTime}}</td>
                        <td>{{item.CourseSchedules[1].endTime}}</td>
                        <td>{{item.CourseSchedules[1].room}}</td>
                    </tr>
                    }
                    @if (item.CourseSchedules[2]) {
                    <tr>
                        <td>{{item.CourseSchedules[2].day}}</td>
                        <td>{{item.CourseSchedules[2].startTime}}</td>
                        <td>{{item.CourseSchedules[2].endTime}}</td>
                        <td>{{item.CourseSchedules[2].room}}</td>
                    </tr>
                    }

                    }
                </tbody>
            </table>

            <button type="button" class="student-button" (click)="saveEnroll()">Enroll</button>
            <button type="button" class="student-button" (click)="option='0'">Return</button>
            }
        </section>
    </main>

    <footer class="footer">
        <div>
            <h3>Contact Us</h3>
            <p>43, Av. Carabobo #42, Medellin, Antioquia</p>
            <p>(604) 444 76 54</p>
            <p>Whatsapp: (57) 3008848512</p>
        </div>
        <div class="about">
            <h3>About Us</h3>
            <a href="../../views/home/home.html">Home</a>
            <a href="../../views/home/home.html#mission">Mission</a>
            <a href="../../views/home/home.html#vision">Vision</a>
        </div>
        <div class="social">
            <h3>Our Social Networks</h3>
            <div class="icons">
                <a href="https://www.facebook.com/politecnicojic">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.youtube.com/@politecnicojic1964">
                    <i class='bx bxl-youtube'></i>
                </a>
                <a href="https://www.instagram.com/politecnicojic/">
                    <i class='bx bxl-instagram-alt'></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="../../js/main.js"></script>
</body>