* {
    margin: 0;
    font-family: 'Segoe UI';
}

header {
    background-color: #BFCAD7;
    display: flex;
    align-items: center;
    height: 13rem;
}

.button_profile {
    background-color: #003366;
    color: white;
    border-radius: 2rem;
    border: none;
    height: 2.5rem;
    width: 10rem;
}

#logo {
    height: 10rem;
}

#icon_person {
    height: 5rem;
} 

#right_header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer {
    padding: 1rem;
    background-color: #BFCAD7;
    display: flex;
    justify-content: space-between;
}

footer section {
    display: inline-block;
}

h3 {
    margin-bottom: 1rem;
    display: inline-block;
}

main {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #003366;
}

.social_media {
    height: 2rem;
}

#about_us {
    list-style: none;
    padding-left: 0;
}

#features {
    display: inline-flex;
    flex-direction: column;
    width: 30rem;
}

#features article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem;
    padding: 1rem;
    background-color: #BFCAD7;
}

#main_image{
    width: 50%;
    margin-left: 30%;
}

.feature_img {
    height: 3rem;
}

#admin2 {
    height: 20rem;
}

#welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    font-size: xx-large;
    background-color: #003366;
    color: white;
}

#features p {
    font-size: xx-large;
}

#follow_us {
    text-align: center;
}