<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/Logo.png">
    <link rel="stylesheet" href="../styles/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
    <link rel="icon" href="../img/Logo.png">
</head>
<body class="grid-container">
    <header class="header">
        <img src="../img/Logo.png" alt="" class="logo">
        <div class="flex-container">
            <button class="button">Teacher</button>
            <img src="../img/icon_person.png" alt="" class="icon_person">
        </div>
    </header>

    <aside class="aside">
        <p>Welcome Teacher</p>
        <img src="../img/teachers.png" alt="" class="img-aside">
    </aside>

    <main class="main">
        <div class="grid-container1">
            
        </div>
    </main>

    <footer class="footer">
        <div>
            <h3>Contact Us</h3>
            <p>Site</p>
            <p>Number 1</p>
            <p>Number 2</p>
        </div>
        <div>
            <h3>About Us</h3>
            <a href="../views/home/home.html">Home</a>
            <p>Mission</p>
            <p>Vision</p>
        </div>
        <div class="social">
            <h3>Our Social Networks</h3>
            <div class="icons">
                <i class='bx bxl-facebook'></i>
                <i class='bx bxl-youtube' ></i>
                <i class='bx bxl-instagram-alt' ></i>
            </div>
        </div>
    </footer>
</body>
</html>