<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restore Password</title>
    <link rel="stylesheet" href="/Frontend/src/stylespassword.css">
</head>
<body>
    <div class="icon-left">
        <img src="/Frontend/assets/img/Logo.png" alt="Icono Izquierda" class="small-icon">
    </div>
    <div class="icon-right">
        <img src="/Frontend/assets/img/exit.png" alt="Icono Derecha" class="large-icon">
    </div>

    <div class="container">
        <h2>Restore Password</h2>
        <form action="#" method="post">
            
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>

            <button type="submit" class="btn">Restore</button>
        </form>
    </div>
</body>
</html>
